################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HTM_1st_Experience/v15/Server/sqlite3/db.lock
